```{=html}
<!--#########################################################################-->

<!-- 
### This may come in-handy later if you wish to put the list of categories
### in the body section instead of the sidebar/margin sections 

<%
    let all_categories = [];
    for(item of items) {
        for(category of item.categories) {
            if (!all_categories.includes(category)) {
                all_categories.push(category);
            }
        }
    }
    all_categories = all_categories.sort();
%>

<span class="resource-categories listing-categories">
    <% for (const category of all_categories) { %>
    <div class="resource-category listing-category" onclick="manageCategorySelection('<%=category%>');">
        <%= category %>
    </div>
    <% } %>
</span>

<span class="resource-categories listing-categories" style="float:right;">
    <div class="resource-category listing-category" onclick="manageCategorySelection('CLEAR');">
        CLEAR
    </div>
</span> 

<br /> 
<hr>  
-->

<!--#########################################################################-->

<ul class="pub-list list">
<% for (const item of items) { %>
<div class="li2 listing-item" <%= metadataAttrs(item) %> data-categories="<%= item.categories.join(', ') %>">

    <img class="resource-icon" src="<%= item.image %>" alt="resource-icon"> 

    <div>
        <!--### Format: {Author, Title} ###-->
        <span class="resource-author"> 
            <%= item.author %>,&nbsp;
        </span>
        <a class="resource-title" href="<%- item.path %>" target="_blank" rel="noopener noreferrer">
            <%= item.title %>
        </a>

        <br /> <!--### Newline ###-->

        <!--### Format: {Tag, Tag, Tag, ...} ###-->
        <span class="resource-categories listing-categories">
        <% for (const category of item.categories) { %>
        <div class="resource-category listing-category" onclick="manageCategorySelection('<%=category%>');">
            <%= category %>
        </div>
        <% } %>
        </span>
    </div>

</div>
<% } %>
</ul>

<!--#########################################################################-->
```

